/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  margin: 50px 0;
}
h1 {
  color: black;
  font-size: 2.75em;
  margin: 0 0 15px 0;
  text-align: center;
  text-shadow: 2px 2px 1px palegoldenrod;

}
main {
  margin-left: 15%;
  margin-right: 15%;
  background-color: aliceblue;
}
#headContainer {
  background-image: radial-gradient(circle at bottom, green, teal);
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 160px;
}

div p {
  font-size: 1.25em;
  color: white;
  text-shadow: 0 0 2px peachpuff;
  text-align: center;
}

main h2 {
  margin: 6px;
}

main h4 {
  margin: 6px;
}

main p {
  margin: 4px;
}

img {
  max-width: 200px;
}

/* h3 {
  font-size: 1.25em;
  text-align: center;
  background-color: papayawhip;
  color: rgb(29, 124, 70);
  border: solid 2px yellowgreen;
  padding: 20px 0px 20px;
  max-width: 500px;
  margin: 15px auto 25px;
} */

/* -------   Table Styling  ----------- */
table {
	max-width: 960px;
	margin: 10px auto;
  }
  
  caption {
	font-size: 1.6em;
	font-weight: 400;
	padding: 10px 0;
  }
  
  thead th {
	font-weight: 400;
	background: #8a97a0;
	color: #FFF;
  }
  
  tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
  }
  
  tr:nth-child(even) {
	background: #e8eeef;
  }
  
  th, td {
	text-align: left;
	padding: 20px;
	font-weight: 300;
  }
  
  tfoot tr {
	background: none;
  }
  
  tfoot td {
	padding: 10px 2px;
	font-size: 0.8em;
	font-style: italic;
	color: #8a97a0;
  }
  


/* Media Queries -------------------- */

@media (max-width: 768px) {
	#container {
		width: 92%;
	}
}